[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "ohmyzsh_custom/themes/powerlevel10k"]
	path = ohmyzsh_custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
